.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8e5;
  padding: 10px 20px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #4b2cc0;
  font-family: Arial, sans-serif;
}

